body{
    background-image:url('./resurse/poza_barca.png');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    margin: 0;
    
}
.prezentare{
    display: flex;
    flex-direction: row;
   background-color: rgba(255, 250, 250, 0.665);
    align-items: center;
   
    margin-left:0.7cm;
    margin-right: 0.7cm;
    margin-top: 0.5cm;
    
}
.citat{
    display: flex;
    justify-content:center;
    align-items:flex-end;
    flex-direction: column;
    
  
}
.stanga{
    display: flex;
    flex-direction: column;
    margin-left: 1cm;
    background-color: rgba(236, 180, 11, 0.555);
    
}
.centru{
    display: flex;
    
    align-self: center;
    flex-direction:column;
    margin-left:1cm;
    margin-top: 1cm; 
    justify-content: center;
    
}
h1{
    font-family: 'Crimson Text', serif;
    font-size: 0.7cm;
    display: flex;
    margin: 0;
}
i{
    display: flex;
   font-weight: 600;
    font-size: 0.6cm;
   
}
ul{
    list-style-type: none;
    display: flex;
    gap: 1.5em;
    font-size: 18px;
    flex-direction: column;
    padding: 0cm;
    margin-top: 0.8cm;
   
}
a{
    text-decoration: none;
    color: black;
    font-size: 0.6cm;
}
    img{
        height: 5cm;
        width: auto;
        
    }
    .scris{
        font-family: 'Crimson Text', serif;
        font-size: 0.7cm;
        display: flex;
        margin: 0;
    }
    .poza{
        display: flex;
        
    }
    #slideshow {
        text-align: center;;
        overflow: hidden;
        height: 8cm;
        width: 18cm;
        margin: 0;
        
      }
      
      .slide-wrapper {
        width: 2912px;
        -webkit-animation: slide 18s ease infinite;
      }
      
      .slide {
        float:right;
        height: 8cm;
        width: 19cm;
      }
      
      
      
      img.slide-photo {
        color: #000;
        text-align: center;
       height: 8cm;
       width: auto;
      }
      @-webkit-keyframes slide {
        20% {margin-left: 0px;}
        30% {margin-left: -728px;}
        50% {margin-left: -728px;}
        60% {margin-left: -1456px;}
        70% {margin-left: -1456px;}
        80% {margin-left: -2184px;}
        90% {margin-left: -2184px;}
      }
      
   
